.container {
  position: relative;
  width: 200px;
  height: 200px;
  margin-inline: auto;
  border: 5px solid slateblue;

  perspective: 20px;

  text-align: center;
}

.item {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  background-color: tomato;
  opacity: 0.5;

  transform-style: preserve-3d;  
}

.container:hover .item{ 
  transform: rotateX(20deg);
  transition: all 1s;
}