.shadow {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: lightgray;
}
.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(253, 187, 45, 1) 0%,
    rgba(195, 70, 34, 1)100%
  );
}
.circle:hover {
  transform: translate(20px, 40px);
  /* transform: translateX(20px); */
  /* transform: translateY(40px); */

  transition: all 0.5s;
}
